body {
    background-color: #122546
    ;
}
.title {
    
    display: flex;
    justify-content: center;
   font-size: 1.5em;
  color: white;
   background-image:  url(Capture_decran_2023-10-17_a_14.32.08.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 50px;
}
.id-connexion { 
    display: flex;
    margin: auto;
    width: 500px;
    height: 40px;
    background-color: #8c6cb4;
}

input::placeholder{
    color: black;
}

.bouton {
    display: flex;
    padding: 5px;
    background-color: dodgerblue;
    color: #000000;
    margin: auto;
}