.index {
    background-image: url("../image/memory_hero.jpeg");
    background-size: 100vw 59.028vw;
    background-repeat: no-repeat;
    justify-content: center;
}

.index h1 {
    color: white;
    font-size: 0.903vw;
    padding: 1.389vw 0 0 0; 
    margin: 0;
}
.index .le_nb{
    margin-top: 2.4vw;
}

.index .le_p{
    margin: 1.5vw;
    font-size: 1.3vw;
}

.index .logo-equipe{
    font-size: 2vw;
}
.index h2 {
    font-size: 5.903vw;
    color: white;
    text-align: center;
    padding: 13.889vw 0 0 0;
    margin: 0 25vw;
    width: 50%;
  }

.index .play-button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.index .play-button {
    width: 9.333vw;
    height: 3vw;
    background-color: #ec9123;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    line-height: 2.778vw;
    font-size: 0.972vw;
    border-radius: 2%;
  }

.index .image {
    display: flex;
}

.index .bloc {
    display: flex;
    width: 50%;
    color: white;
    margin: 0 1.944vw 6.944vw 0;
    align-items: baseline;
    font-size: 0.903vw;
}

.index .texte_bloc {
    display: flex;
    margin: 0 11.806vw;
}

.index .nb {
    font-size: 2.083vw;
    color: #3724a0;
    font-weight: 600;
    margin: 0 0.694vw 0 0;
}

.index .gras {
    font-weight: 600;
    font-size: 1vw;
}

.index .community {
    display: flex;
}

.index .ligne_1 {
    display: flex;
}

.index .ligne_2 {
    display: flex;
}

.index .part_2 {
    display: flex;
    flex-direction: column;
}

.index .case_1 {
    height: 8.333vw;
    width: 13.889vw;
    background-color: #3724a0;
    text-align: center;
    margin: 0 0.694vw 1.389vw;
}

.index .case_2 {
    height: 8.333vw;
    width: 13.889vw;
    background-color: #18a15f;
    text-align: center;
    margin: 0 0.694vw 1.389vw;
}

.index .case_3 {
    height: 8.333vw;
    width: 13.889vw;
    background-color: #b91ca8;
    text-align: center;
    margin: 0 0.694vw 1.389vw;
}

.index .case_4 {
    height: 8.333vw;
    width: 13.889vw;
    background-color: #ec9123;
    text-align: center;
    margin: 0 0.694vw 1.389vw;
}

.index .img {
    height: 20.833vw;
    width: 34.722vw;
    padding: 0 1.389vw 0 13.889vw;
}

.index .gros_nb {
    font-size: 2.222vw;
    font-weight: 600;
}

.index .notre_equipe {
    display: flex;
    margin: 0 0 6.944vw 27.778vw;
}

.index .rectangle {
    height: 17.361vw;
    width: 13.889vw;
    background-color: #0d0b26;
    margin: 0 1.042vw 0 0;
}

.index .centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index .petit {
    margin: 1.042vw;
}

.index .grand {
    margin: 1.042vw 0 0 0;
}

.register .cases {
    display: flex;
    flex-direction: column;
    margin-top: 1.389vw;
    margin-left: 33%;
}

.register form div {
    margin-top: 1.389vw;
}

.register .box {
    padding: 1.042vw;
    padding-right: 13.889vw;
    border: 0;
    border-radius: 0.139vw;
    background-color: #373654;
    font-size: 0.9vw;
}

.register .bouton {
    padding-left: 0.139vw;
    background-color: #ec9123;
    color: white;
    border-radius: 0.069vw;
    border: 0;
    width: 7.986vw;
    height: 3.125vw;
    font-size: 0.92vw;
    
}

.register input {
    width: 20vw;
}

.register ::placeholder {
    color: #888486;
}




.login .id-connexion {
    display: flex;
    margin: 0.347vw auto;
    width: 34.722vw;
    height: 2.778vw;
    color: #888486;
    background-color: #373654;
    border-radius: 0.139vw;
    border: 0;
    padding-left: 1.389vw;
    font-size: 0.92vw;
}

.login .Space {
    display: flex;
    flex-direction: column;
    margin: 4.722vw 0vw;
}

.login input::placeholder {
    color: #888486;
}

.login .bouton {
    margin: 1.042vw 31.555%;
    display: flex;
    width: 6.944vw;
    height: 3.472vw;
    background-color: #ec9123;
    color: #ffffff;
    border-radius: 0.347vw;
    border: 0;
    justify-content: center;
    font-size: 0.9vw;
}

.scores .Power {
    display: flex;
    justify-content: center;
    color: white;
}

.scores .Tête-du-Tableau {
    margin-top: 0.694vw;
    display: flex;
    flex-direction: row;
}

.scores .Tableau {
    margin-top: 0.694vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.scores #Pseudo-in-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.scores #Level-in-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.scores #Score-in-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.scores #Date-in-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.scores #Hour-in-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.scores .Les-cases-Pseudo {
    display: flex;
    flex-direction: column;
}

.scores .Les-cases-Level {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.scores .Les-cases-Score {
    display: flex;
    flex-direction: column;
}

.scores .Les-cases-Date {
    display: flex;
    flex-direction: column;
}

.scores .Les-cases-Hour {
    display: flex;
    flex-direction: column;
}

.scores #Pseudo-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
    font-size: 1vw;
}

.scores #Score-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
    font-size: 1vw;
}

.scores #Date-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
    font-size: 1vw;
}

.scores #Hour-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
    font-size: 1vw;
}

.scores .Les-cases {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1vw;
}

.scores #Level-case {
    color: white;
    background-color: #1d1936;
    padding: 1.736vw;
    margin-top: 0;
    border: 0.208vw solid #ec9123;
    width: 6.944vw;
    text-align: center;
}

.jeu .carte {
    border-radius: 5%;
    height: 6.944vw;
    width: 6.944vw;
    margin: 0 2.431vw 0 0;
}
.jeu .tableau{
    display: flex;
    justify-content: center;
    margin: 4.167vw 0 0 0;
}

p {
    color: white;
    font-size: 0.903vw;
}
.title {
    display: flex;
    justify-content: center;
    color: white;
    padding: 4.333vw;
    background-image: url("https://cdn.discordapp.com/attachments/1163484337459707946/1163816289597403146/Brain-Header-1170x300.jpg?ex=65536862&is=6540f362&hm=96b515ee5942d893de74f7bba3545aaf101c9438d8acdd5779ee9d5e24c4a822&");
    background-size: cover;
    font-size: 2.222vw;
}
.hidden {
    display: none;
}




body{
    background-color: #100e2e;
    font-family: 'AR One Sans', sans-serif;
}

.contact .cases2 {
    padding-top: 2.778vw;
    display: flex;
    justify-content: left;
    padding-left: 4.514vw;
    padding-bottom: 1.389vw;
}

.contact form div {
    padding-bottom: 0.694vw;
}

.contact .ligne1 {
    display: flex;
    justify-content: space-around;
    margin-right: 1.042vw;
}

.contact .boxs {
    background-color: #373654;
    color: #888486;
    border-radius: 0.139vw;
    border: 0;
    padding: 1.042vw;
    padding-right: 9.028vw;
    margin-top: 0.278vw;
    font-size: 0.92vw;
}

.contact .btn {
    margin-top: 0.694vw;
    background-color: orange;
    color: white;
    border-radius: 0.069vw;
    border: 0;
    padding: 0.8vw;
    font-size: 0.93vw;
  }

.contact .infoC {
    margin-top: 6.944vw;
    color: white;
}

.contact .numero {
    background-color: #1d1936;
    border: 0.694vw;
    width: 6.944vw;
    height: 10.417vw;
    padding: 2.083vw 8.681vw;
}

.contact .num {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .m {
    background-color: #1d1936;
    border: 0.694vw;
    width: 6.944vw;
    height: 10.417vw;
    padding: 2.083vw 8.681vw;
}

.contact .sup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .Paris {
    background-color: #1d1936;
    border: 0.694vw;
    width: 6.944vw;
    height: 10.417vw;
    padding: 2.083vw 8.681vw;
}

.contact .ville {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .ligne2 {
    display: flex;
    justify-content: space-around;
    margin-right: 1.042vw;
}

.contact .item {
    font-size: 1.389vw;
    display: flex;
    justify-content: center;
    background-color: orange;
    border-radius: 50%;
    height: 4.514vw;
    width: 4.514vw;
    margin: 0.694vw;
}

.contact .fa-solid, .fa {
    font-weight: 900;
    margin: 1.389vw;
}

.contact .fa-regular, .far {
    font-weight: 400;
    margin: 1.389vw;
}



.account body {
    background-color: #100e2e;
}

.account .motdepass {
    display: flex;
    justify-content: right;
    color: white;
    font-size: 1.2vw;
  }

.account .adressmail {
    display: flex;
    justify-content: right;
    color: white;
    font-size: 1.2vw;
}

.account .aligner {
    display: flex;
    justify-content: space-around;
    margin-top: 8.333vw;
}

.account .droite {
    display: flex;
    justify-content: s;
}

.account .position {
    margin: 0 0 0 35%;
}

.account .position2 {
    margin: 0 0 0 15%;
}

.account .espace {
    margin-bottom: 0.694vw;
}

.account .box {
    padding: 1.042vw 0.069vw 1.042vw 0.694vw;
    background-color: #373654;
    border-radius: 0.139vw;
    border: 0;
    color: white;
    width: 19vw;
    font-size: 0.93vw;
}

.account .btn {
    margin-top: 0.694vw;
    background-color: orange;
    color: white;
    border-radius: 0.069vw;
    border: 0;
    padding: 0.556vw;
}

.account .image {
    height: 6.944vw;
    width: 6.944vw;
    border-radius: 50%;
    margin: 5% 0 0 0;
}

.account .position4 {
    margin: 0 0 0 47%;
}

.account .bouton {
    margin-top: 0.694vw;
    background-color: orange;
    color: white;
    border-radius: 0.069vw;
    border: 0;
    padding: 0.556vw;
    font-size: 0.93vw;
}

.account .text {
    margin-left: 1.7vw;
}
.position3{
    display: flex;
}

.jeu img {
    border-radius: 50%;
    height: 1.736vw;
    width: 1.736vw;
}

.chat {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}

.chat .chat-box {
    width: 20.833vw;
    background-color: #fff;
    border: 0;
    border-radius: 0.347vw;
}

.chat .chat-header {
    background-color: #373654;
    color: white;
    padding: 0.694vw;
    font-size: 1.12vw;
}

.chat .chat-messages {
    max-height: 13.889vw;
    overflow-y: auto;
    padding: 0.694vw 0 0.764vw 0.694vw;
    border-radius: 0.347vw;
}

.chat .message {
    margin: 0.694vw 0;
    border-radius: 5%;
    width: 11.944vw;
    height: 2vw;
}

.chat .Hour-moi {
    font-weight: bold;
    font-size: 0.417vw;
    color: rgb(151, 149, 149);
    margin-left: 15.399vw;
}

.chat .Hour-moi2 {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 0.417vw;
    color: rgb(151, 149, 149);
    margin-right: 0.9vw;
    margin-bottom: 0.271vw;
}

.chat .Hour-User {
    font-weight: bold;
    font-size: 0.417vw;
    color: rgb(151, 149, 149);
    margin-left: 2.446vw;
    margin-top: 0.271vw;
}

.chat .Moi {
    font-weight: bold;
    font-size: 0.417vw;
    color: rgb(151, 149, 149);
    margin-left: 15.399vw;
    margin-bottom: 0.271vw;
}

.chat .Moi2{
    font-weight: bold;
    font-size: 0.417vw;
    color: rgb(151, 149, 149);
    margin-left: 15.399vw;
    margin-bottom: 0.271vw;
}



.chat .user {
    font-weight: bold;
    font-size: 0.417vw;
    color: rgba(151, 149, 149);
    margin-left: 2.174vw;
    margin-bottom: 0.271vw;
}

.chat .Mes-messages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 7.068vw;
}

.chat .Mes-messages2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 14.4vw;
}

.chat .mot {
    display: flex;
    font-size: 0.694vw;
    color: white;
    border: 0 #ccc solid;
    border-radius: 0.347vw;
    background-color: #373654;
    align-items: center;
    margin-left: 6.7vw;
    padding: 0.486vw 0.833vw;
}

.chat .mot2 {
    display: flex;
    font-size: 0.4vw;
    color: white;
    border: 0 #ccc solid;
    border-radius: 0.347vw;
    background-color: #373654;
    align-items: center;
    margin-left: 5.7vw;
    padding: 0.486vw 0.833vw;
}

.chat .text {
    display: flex;
    font-size: 0.556vw;
    color: rgb(95, 95, 95);
    border: 0 #ccc solid;
    border-radius: 0.347vw;
    background-color: #e8dfdf;
    padding: 5%;
    align-items: center;
    margin-left: 0.347vw;
    padding: 0.347vw;
}

.chat .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 7.068vw;
}

.chat .chat-input {
    display: flex;
    height: 16vw;
    align-items: flex-end;
}
.chat #message-input {
    flex: 1;
    padding: 0.347vw;
    border: 0.069vw solid rgba(204, 204, 204);
    border-radius: 0.208vw;
}

.chat input::placeholder {
    font-size: 0.694vw;
    color: rgb(204, 204, 204, 50);
}

.chat .send-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0.208vw;
    padding: 0.347vw 0.694vw;
    margin-left: 0.347vw;
    cursor: pointer;
    font-size: 0.694vw;
}

.chat img {
    border-radius: 50%;
    height: 1.736vw;
    width: 1.736vw;
}

.jeu .timer{
    height: 4vw;
    width: 10vw;
    margin-left: 15%;
    margin-top: 5vw;
    border: 0.1vw solid orange;
}
.jeu .timer-texte{
    font-size: 1.2vw;
    text-align: center;
    margin: 1.2vw;
    color: white;
}



.boutique form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boutique .Boutique{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5vw;
}

.boutique .Description{
    display: flex;
    font-size: 1vw;
    color: white;
    text-align: center;
}

.boutique .Article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #373654;
    border: 0.5vw solid orange;
    border-radius: 30px;
}

.boutique .Piece-Dollar{
    border-radius: 50%;
    width: 1.736vw;
    height: 1.736vw;
}

.boutique .Piece {
    display: flex;
    color: white;
    margin: 2vw 20vw;
    align-items: center;
    font-size: 1.01vw;
}

.boutique .Image-Boutique{
    border: 2.083vw;
    width: 15vw;
    height: 15vw;
    border-radius: 29.5px;
}

.boutique .lettre{
    display: flex;
    font-size: 2vw;
    color: white;
    text-align: center;
    padding: 0 10vw ;
}

.boutique .nb {
    display: flex;
    font-size: 2vw;
    color: white;
    text-align: center;
}

.boutique .Prix{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boutique section{
    display: flex;
    align-items: center;
    color: white;
    font-size: 2vw;
}
