footer {
    margin-top: 6.944vw;
    background-color: #0d0b26;
    width: 100vw;
    height: 43vh;
}

.orange {
    color: #ec9123;
}

.info {
    color: rgb(188, 181, 181); 
}

.title-info {
    color: white;
    font-size: 1.042vw;
    font-weight: 600;
}

.info1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5.556vw;
    color: #ec9123;
}

.list-info {
    padding: 0;
    width: 20.833vw;
    flex-direction: column;
    list-style: square;
}

.logo-info {
    font-size: 2.083vw;
    display: flex;
}

.logo {
    padding-right: 1.042vw;
}

.underline {
    color: rgb(188, 181, 181); 
}

.location {
    text-decoration: none;
    color: rgb(188, 181, 181);
}
