header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lien {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.694vw;
    margin: 0;
    padding: 0 6.944vw 1.389vw;
}
.menu-links {
    display: flex;
    align-items: center;
}



ul {
    display: flex;
    list-style: none;
    margin: 0;
}
a {
    color: white;
    margin: 0 1.736vw;
    text-decoration: none;
    font-size: 0.833vw;
    text-align: center;
}
li {
    padding: 1.736vw 0 0 0;
}
li:hover {
    transition-duration: 0.5s;
    border-top: solid #ec9123;
}
li:hover a {
    color: #ec9123;
}
.tete {
    color: white;
    font-size: 0.903vw;
    padding: 1.389vw 0 0 0;
    margin: 0;
    font-weight: 600;
}